@import url('https://fonts.googleapis.com/css?family=Exo+2|Lato');
body{
	background-image: url("../images/Lights.jpg");
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color:lightgray;
}
h1{
	color:white;
	font-family: 'Exo 2', sans-serif;
}
	#slogan {
		font-stretch: expanded;
		font-weight: bold;
		text-align: left;
		text-transform: uppercase;
		color: orange;
	}
a {color: white;}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


